@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "JostBold";
    src: url("/fonts/Jost-Bold.ttf");
}
@font-face {
    font-family: "JostExtraBold";
    src: url("/fonts/Jost-ExtraBold.ttf");
}
@font-face {
    font-family: "JostMedium";
    src: url("/fonts/Jost-Medium.ttf");
}


body{
    overflow-y: hidden;
}